{:bbin/bin       {intel {:main-opts ["-m" "intel"]}}
 :min-bb-version "1.12.208"
 :deps           {io.github.filipesilva/intel {:local/root "."}}
 :paths          ["src" "test"]
 :tasks          {test {:requires ([clojure.test :as t]
                                   [intel-test]
                                   [intel.graph-test])
                        :task     (let [{:keys [fail error]}
                                        (t/run-tests 'intel.graph-test
                                                     'intel-test)]
                                    (when (pos? (+ fail error))
                                      (System/exit 1)))}}}
