{:bbin/bin       {intel {:main-opts ["-m" "filipesilva.intel"]}}
 :min-bb-version "1.12.208"
 :deps           {io.github.filipesilva/intel {:local/root "."}}
 :paths          ["src" "test" "resources"]}

